.box3{
    background-color: chartreuse;
    width: 250px;
    height: 150px;
    padding: 15px;
    border: 3px,gray,solid;
    margin: 25px;
    box-sizing: border-box;
}
.box4{
    background-color: orange;
    width: 200px;
    height: 100px;
    padding: 30px;
    border: 6px,green,solid;
    margin: 50px;
    box-sizing: border-box;
}