body{
    font-family: Arial, sans-serif;
}
table{
    border: 5px solid black;
    width: 100%;
    padding: 10px;
}
tr:nth-child(even){
    background-color: lightgray;
}
th{
    background-color: darkgreen;
    color: white;
}
th.special{
    background-color: lightblue;
    color: darkblue;

}