.bg_adventure{
    background-color: #b2ffd8;
    background-image: url('land.jpg'),linear-gradient(to right,lightblue,purple);
    background-repeat: no-repeat;
    background-position: bottom,right;
    padding: 20px;
}
.bg_treasure{
    background-image: radial-gradient(circle,yellow,orange);
    background-clip: padding-box;
    background-origin: content-box;
    padding: 20px;
    border:5px,black;
}
h1{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    color: #bd8dcb;
}
h2{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 217;
    font-style: 212;
    color: #b2b2b2;
}
p{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 324;
    font-style: 32;
    color: #ccc;
}