.box{
    background-color: lightblue;
    width: 300px;
    height: 200px;
    padding: 10px;
    border: solid, black, 4px;
    box-sizing: border-box;
}
.box2{
    background-color: lightcoral;
    width: 350px;
    height: 250px;
    padding: 20px;
    border: solid, darkblue, 4px;
    box-sizing: border-box;
}