body{
    font-family: Verdana, sans-serif;
    background-color: rgba(255, 182, 193, 0.3);
}
p{
    font-size: 16px;
    color: rgba(0, 139, 139, 0.8);
}
h2{
    font-family: "Lato",sans-serif;
    color: rgb(153, 50, 204);
    font-size: 32px;
}